*{
    box-sizing: border-box;
    margin : 0;
    padding: 0;
}
.section1
{
    height:100vh;
    background-image: url('/Layouts/Assets/Images/R11.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}
.pos1{
    position: absolute;
    top: 6px; 
 left: 20px;
 transition: transform .2s;
}
.pos2{
  position: absolute;
  top: 20px; /* Moves down 20px */
 right: 30px;
 transition: transform .2s;
}
hr
{
  border: 1px solid #C9AB81;
  
}
.pos3{
    position: absolute;
    top: 400px; 
 left: 20px;
}
.pos4{
  position: absolute;
  top: 400px; 
 right: 20px;
}
.pos1:hover{transform: scale(1.2);}
.pos2:hover { transform: scaleX(-1);}
.top
{
    text-align: center; 
    margin: 5px;
    padding: 45px;
 }
.top a
{
    text-decoration: none;
    margin:20px;
    padding: 20px;
    color: white;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 15px;
    line-height:23px;
    transition: text-decoration 1s ease;
    
}

.top a:hover
{
    text-underline-offset: 7px; 
    text-decoration-line: underline;
    text-decoration-style: double; /* Double underline */
    text-decoration-thickness: 2px;
    text-decoration-color: #C9AB81;
}

.sec1a
{
   display: flex;
    justify-content: center;
    align-items: center;  
    padding-top: 60px;
    margin-top: 50px;
    font-family: 'miniver';
    font-size: 28px;
    line-height: 40px;
    color: #C9AB81;
    animation-name: anim3;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}
.sec1b
{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 54px;
    line-height: 100px;
    padding-top: 30px;
    color:#C9AB81;
    display: flex;
    justify-content: center;
    align-items: center; 
    letter-spacing: 14px; 
    animation-name: anim1;
  animation-duration: 2s;
  animation-timing-function:linear;
  animation-iteration-count: 1;
}
.sec1c
{
    font-family: 'Josefin Sans';
    font-size: 28px;
    line-height: 35px;
    color: white;
    text-align:center;
   margin-right:18%;
    padding-right: 20px;
    margin-left:18%;
    padding-left: 20px;
     display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 25px;
     animation-name: anim2;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}
.but a
{   
    position:relative;
    display: inline-block;
    padding: 12px 34px;
    border:2px solid #C9AB81;
    color: white;
    text-decoration: none;
    font-size:14px;
    letter-spacing: 2px;
    background: transparent;
    font-family: "Open Sans Condensed", sans-serif;
    align-items: center; 
    margin-left: 43%;
    margin-right: 43%;
    margin-top: 40px;
     animation-name: anim2;
  animation-duration: 2s;
  animation-timing-function:ease;
  animation-iteration-count: 1;
}
@keyframes anim1
{
     0%, 100% { opacity: 0; }
    50%      { opacity: 1; }
}
@keyframes anim2
{
    from{
      transform: translateY(10vh); /* Start at bottom */
    }
    to {
      transform: translateY(0);
    }
}
@keyframes anim3 
{
     0%, 100% { opacity: 0; }
    50%      { opacity: 1; } 
}
.section2
{
     height:100vh;
    display: grid;
    position: relative;
    
    background-color: #0B1315;
    background-size: cover;
    background-position: center;
}
.sec2a
{
   display: grid;
    justify-content: center;
    padding-top: 10px; 
    font-family: 'miniver';
    font-size: 26px;
    color: #C9AB81;
    animation-name: anim3;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}
.sec2b
{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 54px; 
    color:#C9AB81;
    display: flex;
    justify-content: center;
    align-items: center; 
    letter-spacing: 14px; 
    animation-name: anim1;
  animation-duration: 2s;
  animation-timing-function:linear;
  animation-iteration-count: 1;
}
.sec2c
{
    font-family: 'Josefin Sans';
    font-size: 18px;
    line-height: 35px;
    color: white;
    text-align:center;
   margin-right:18%;
    padding-right: 20px;
    margin-left:18%;
    padding-left: 20px;
     display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 25px;
     animation-name: anim2;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}
.images
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: space-evenly;
  padding-left: 14%;
  padding-right: 8%;
  
}
.img1
{
  animation: pulseFade 2s 1 ease-in-out;
}
.img2
{
  animation: anim1 2s linear 1;
}
.img3
{
  animation:anim2 2s ease 1 ;
}
.left_content
{
  animation: anim1 2s ease-in-out 1;
}
.right_content
{
  animation: anim1 2s ease-in-out 1;
}
@keyframes pulseFade {
        0% {
            transform: scale(1);
            opacity: 1;
        }
        50% {
            transform: scale(1.1);
            opacity: 0.7;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
      }
.section3
{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('Assets/Images/R12.jpg');
    background-size: cover;
    background-position: center;
     position: relative;
}
.left_content
{
   border: 2px solid #171717;
    margin-left:50px;
margin-right: 60%;
    text-align: center;
    padding: 20px;
}
.disp
{
    display:flex;
    justify-content:left;
   align-content: flex-end;
}
.data1 
{
  font-family: 'Miniver', sans-serif;
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 40px;
    line-height: 2;
    color: rgb(175, 184, 184);
}
.data2
{
  color: #C9AB81;
  font-size: 22px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
    margin-top: 30px;
}
.data3
{
  font-family: "Josefin Sans", sans-serif;
  color: rgb(175, 184, 184);
  font-size: 19px;
}
.number
{
  display: flex;
  justify-content:space-between;
   
  position: absolute;
   left: 16%;
   top: 82%;
}
.number a
{
    text-decoration: none;
   font-family: "Josefin Sans", sans-serif;
   color:#C9AB81;
   font-size: 20px;
   text-align: center; 
    margin: 5px;
    padding: 25px;
}
.number a:hover
{
    
    text-decoration-line: underline;
    text-decoration-style: double; /* Double underline */
    text-decoration-thickness: 2px;
    text-decoration-color: #C9AB81;
}
.imgnoodles
{
animation-name: anim5;
  animation-duration: 3s;
}
@keyframes anim5 {
  from{filter: blur(6px) brightness(70%)};
  to {filter: blur(0) brightness(100%)};
}
.anim
{
   animation: pulseFade 2s 1 ease-in-out;
}
.section4
{
     height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0B1315;
    background-size: cover;
    background-position: center;
}
.sec4a
{
   display: grid;
    justify-content: center;
    padding-top: 10px; 
    font-family: 'miniver', sans-serif;
    font-size: 19px;
    color: #C9AB81;
  margin-top: 15%;
}
.sec4b
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 41px; 
    color:#C9AB81;
    display: flex;
    justify-content: center;
    align-items: center; 
   padding-top: 10px; 
    letter-spacing: 11px;
}
.sec4c
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    line-height: 35px;
    color: white;
    text-align:center;
  
     display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 25px;
     
}
.but4 a
{   
    position:relative;
    display: inline-block;
    padding: 15px 50px;
    border:2px solid #C9AB81;
    color: white;
    text-decoration: none;
    font-size:14px;
    letter-spacing: 2px;
    background: transparent;
    font-family: "Open Sans Condensed", sans-serif;
    align-items: center; 
    
    margin-top: 40px;
}
.right_content
{
   border: 2px solid #0B1315;
   
margin-left: 10%;
margin-right: 10%;
    text-align: center;
  
}
.display
{
    display:flex;
    justify-content:center;
   align-content: space-evenly;
}
.imgnoodles
{
  padding-left: 12%;
}
.section5
{
     height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0F1D22;
    background-size: cover;
    background-position: center;
}
.sec5a
{
   display: grid;
    justify-content: center;
    padding-top: 10px; 
    font-family: 'miniver', sans-serif;
    font-size: 19px;
    color: #C9AB81;
  margin-top: 22px;
}
.sec5b
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 41px; 
    color:#C9AB81;
    display: flex;
    justify-content: center;
    align-items: center; 
   padding-top: 20px; 
    letter-spacing: 11px;
    padding-bottom: 20px;
}
.disp1
{
  margin-top:10px;
}
.disp2
{
 display: flex;
 justify-content: center;
}
.m1a
{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px; 
    color:#C9AB81;
    margin-top: 18px;
    margin-bottom: 5px;
}
.m1b
{
  font-family: "Open Sans Condensed", sans-serif;
  color: white;
  font-size: 16px;
  margin-top: 5px;
    margin-bottom: 18px;
}
.rp
{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px; 
    color:#C9AB81;
    margin-top: 18px;
    margin-bottom: 8px;
}
.disp21
{
  display:grid;
  padding-right: 5%;
}
.disp21r
{
  display:grid;
  padding-right: 5%;
}
.disp22
{
  display:grid;
  padding-left: 8%;
}
.but5 a
{   
    position:relative;
    display: inline-block;
    padding: 12px 30px;
    border:2px solid #C9AB81;
    color: white;
    text-decoration: none;
    font-size:12px;
    letter-spacing: 2px;
    background: transparent;
    font-family: "Open Sans Condensed", sans-serif;
    margin-top: 20px;
}

.section6
{
     height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;
    background-size: cover;
    background-position: center;
}
.address1
{
   color: white;
   font-size: 19px;
   font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 2px;
  padding: 10px;
  margin-left: 13%;
  text-align: center;
}
.address2
{
   color: white;
   font-size: 19px;
   font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 2px;
  padding: 10px;
  margin-left:10px;
  text-align: center;
}
.address3
{
   color: white;
   font-size: 19px;
   font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 2px;
  padding: 10px;
  margin-left: 13%;
  text-align: center;
  margin-bottom: 50px;
}
.social a
{
  text-decoration: none;
    margin:10px;
    padding: 10px;
    color: white;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 19px;
    display: grid;
    text-align: center;
    transition: text-decoration 1s ease;
}
.social a:hover
{
    
    text-decoration-line: underline;
    text-decoration-style: double; /* Double underline */
    text-decoration-thickness: 2px;
    text-decoration-color: #C9AB81;
    text-underline-offset: 7px; 
}

.last
{
  display:grid;
  align-items: center;
  align-content: center;
  
}
.logo
{
  margin-left: 40%;
  font-size: 80px;
}
